@charset "utf-8";
/* CSS Geral BASIC */
/* Nome das Fontes:  cabinbold cabinregular yanone_kaffeesatzbold yanone_kaffeesatzregular allerbold allerregular  */


/* Reset */
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li { margin:0 auto; padding:0 auto; list-style:none; outline:none; border:none; }
/* End Reset */


/*------------------------------- Body ---------------------------------*/
body { margin: 0px 0px 0px 0px; padding:0; letter-spacing:0px; font-family: 'cabinregular', sans-serif; color:#000; list-style:none; overflow-x:hidden;}

html { border:0; height:100%; }

*:focus { outline: none; }

input { background-color:transparent; border:none; letter-spacing:0px; font-size:15px; color:#939393;  }

/*------------------------------- Tags ---------------------------------*/
h1 { font-family: 'allerregular', sans-serif; font-size:46px;   color:#FFF; margin:5px 0px 10px 0px;  line-height:48px; font-weight:normal;}

h2 { font-family: 'allerregular', sans-serif; font-size:32.5px; color:#FFF; margin:5px 0px 10px 0px;  line-height:48px; font-weight:normal;}

h3 { font-family: 'allerregular', sans-serif; font-size:27px; color:#0074be; margin:10px 0 0;  line-height:29px; font-weight:normal; }

h4 { font-family: 'allerregular', sans-serif; font-size:27px; color:#0074be; margin:0;  line-height:29px; font-weight:normal; }

h5 { font-family: 'allerregular', sans-serif; font-size:17px; color:#b8b8b8; margin:0px 0px 5px 0px;  line-height:19px; font-weight:normal; }
h5 span {font-size:27px; color:#707478; font-family: 'yanone_kaffeesatzbold', sans-serif; margin:0;}

h6 { font-family: 'yanone_kaffeesatzbold', sans-serif; font-size:16px; color:#0074be; margin:0px 0px 2px 0px;  line-height:18px; font-weight:normal;	 }


a { font-size:15px; color:#000; margin:0px 0px 2px 0px; line-height:22px; text-decoration:none; }

a:hover { text-decoration:underline; }

a:visited { text-decoration:none; outline:none; }

a:link, a.link, a:visited, a.visited, .efeito_opacity{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;text-decoration:none;
}
a img {opacity:1;filter:Alpha(opacity=100);}
a img:hover {
    opacity: 0.8;
    filter:Alpha(opacity=80);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;text-decoration:none;
}


.top2 { margin-top:2px; }
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top18 { margin-top:18px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px !important; }
.top30 { margin-top:30px !important; }
.top35 { margin-top:35px !important; }
.top40 { margin-top:40px !important; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top95 { margin-top:95px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top115 { margin-top:115px; }
.top120 { margin-top:120px; }
.top140 { margin-top:140px; }
.top150 { margin-top:150px; }
.top170 { margin-top:170px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top210 { margin-top:210px; }
.top220 { margin-top:220px; }
.top240 { margin-top:240px; }
.top270 { margin-top:270px; }
.top300 { margin-top:300px; }
.top320 { margin-top:320px; }
.top350 { margin-top:350px; }
.top360 { margin-top:360px; }
.top395 { margin-top:395px; }
.top400 { margin-top:400px; }
.top560 { margin-top:560px; }
.top590 { margin-top:590px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom90 { margin-bottom:90px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }
.bottom180 { margin-bottom:180px; }
.bottom200 { margin-bottom:200px; }
.bottom210 { margin-bottom:210px; }
.bottom280 { margin-bottom:280px; }


.left5 { margin-left:5px; }
.left9 { margin-left:9px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left81 { margin-left:81px; }
.left130 { margin-left:130px; }
.left210 { margin-left:210px; }
.left270 { margin-left:270px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right22 { margin-right:22px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right90 { margin-right:90px; }
.right100 { margin-right:100px; }
.right130 { margin-right:130px; }
.right210 { margin-right:210px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr0 { padding-right:0px; }
.pr5 { padding-right:5px; }
.pr10 { padding-right:10px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb200 { padding-bottom:200px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }


.pg10{  padding: 10px;}
.pg20{  padding: 20px;}





/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------- GERAL -------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.clear {clear:both; }
.logo {background:url(../images/logo.png) center center no-repeat; display:block; width:139px; height:89px; padding:11px 13px;}
.botao {padding:0 5px; width:130px; height:30px; display:block; line-height:30px; border-radius:5px; background:url(../images/bg_botao.jpg) center center; margin:15px 10px; font-size:15px; text-transform:uppercase; color:#767676; font-family: 'allerregular', sans-serif;}
.botao:hover {background:url(../images/bg_botao_hover.jpg) center center; color:#FFF; }

.saiba_mais {display:block; width:134px; padding:0 10px; height:42px; line-height:42px; background:url(../images/btn_saiba_mais.png) center center no-repeat; font-size:18px; color:#d2d3d7; text-transform:uppercase; font-family: 'allerregular', sans-serif; letter-spacing:0.5px;}
.saiba_mais:hover {color:#000; background:url(../images/btn_saiba_mais_hover.png) center center no-repeat;}





/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------- TOPO -------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#content_topo {width:100%; height:115px; background: #d2d3d7 url(../images/bg_topo.jpg) center center no-repeat;}
#content_topo #topo {width:1000px; margin:auto; left:50%; margin-left:-500px; position:relative; z-index:999;}
#content_topo #topo .logo {float:left;}

#content_topo #topo #menu {margin:0; padding:0px; float:left; position:relative;}
#content_topo #topo #menu li {float:left; border-right:1px solid #d2d3d7; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#content_topo #topo #menu li:hover, #content_topo #topo #menu li.menu_ativo {background:#d2d3d7; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#content_topo #topo #menu li:first-child {border-left:1px solid #d2d3d7;}

#content_topo #topo #menu li a {height:115px; line-height:140px; display:block; padding:0 5px; margin:0; overflow:hidden; color:#006bbb; font-family: 'allerbold', sans-serif; font-size:18px; font-weight:normal;}
#content_topo #topo #menu li a.home {background:url(../images/icon_home.png) center 24px no-repeat;}
#content_topo #topo #menu li a.empresa {background:url(../images/icon_empresa.png) center 24px no-repeat;}
#content_topo #topo #menu li a.produtos {background:url(../images/icon_produtos.png) center 24px no-repeat;}
#content_topo #topo #menu li a.servicos {background:url(../images/icon_servicos.png) center 24px no-repeat;}
#content_topo #topo #menu li a.disklimpeza {background:url(../images/icon_disklimpeza.png) center 24px no-repeat;}
#content_topo #topo #menu li a.dicas {background:url(../images/icon_dicas.png) center 24px no-repeat;}
#content_topo #topo #menu li a.contatos {background:url(../images/icon_contato.png) center 24px no-repeat;}

#content_barra_info {width:100%; height:54px; background:url(../images/bg_barra_topo.jpg) center center repeat-x;}
#content_barra_info #barra_info {width:1000px; margin:auto; left:50%; margin-left:-500px; position:relative; z-index:999; overflow:hidden;}
#content_barra_info #barra_info .telefone {float:left; margin:10px; padding-left:30px; background:url(../images/icon_telefone_topo.png) left 15px no-repeat; }
#content_barra_info #barra_info .telefone p {color:#0074be; text-align:right; font-size:10px; font-family: 'allerregular', sans-serif;}

#content_barra_info #barra_info .botao{float:left;}
#content_barra_info #barra_info .botao .icon_orcamento {background:url(../images/icon_orcamento_topo.png) center center no-repeat; display:block; width:26px; height:27px; float:right;}
#content_barra_info #barra_info .botao .icon_como_chegar {background:url(../images/icon_como_chegar.png) center center no-repeat; display:block; width:20px; height:28px; float:right;}













/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------- SLIDER -------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#content_slider {width:100%; height:350px; background:url(../images/pattern_azul.jpg) center center;}
#content_slider #slider {width:1000px; height:350px; margin:auto; left:50%; margin-left:-500px; position:relative; }
#content_slider #slider {}
#content_slider #slider h1, #content_slider #slider h2 {position:absolute; top:51px; left:7px; text-align:left;}
#content_slider #slider p {width:520px; text-align:justify; font-size:17px; line-height:19px; position:absolute; top:120px; left:7px;}
#content_slider #slider img {float:right; position:relative; z-index:0;}

#content_slider #slider ul {position:absolute; top:120px; left:25px;}
#content_slider #slider ul li {background:url(../images/estrela_slider.png) left center no-repeat; padding-left:30px; text-align:left; font-family: 'cabinregular', sans-serif; font-size:15px; line-height:30px;}

#content_slider #slider .saiba_mais {position:absolute; left:327px; top:250px;}






/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ----------------------------- TOPO INTERNAS ----------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#content_banner {width:100%; height:162px; background:url(../images/pattern_azul.jpg) center center;}
#content_banner #banner {width:1000px; height:162px; margin:auto; left:50%; margin-left:-500px; position:relative; }
#content_banner #banner img {position: absolute; z-index:98;}
#content_banner #banner h1 {position:absolute; font-size: 30px; top:55px; left:0; z-index:99;}

    /* EMPRESA */
    #content_banner.empresa #banner img {
    top: -169px;
    right: -293px;
}


    /* PRODUTOS */
    #content_banner.produtos #banner h1 {font-size:30px; line-height:34px; top:45px; letter-spacing:-1px;}
    #content_banner.produtos #banner img {top: -169px; right:-332px;}

    /* DISKLIMPEZA */
    #content_banner.disklimpeza #banner h1 {font-size:30px; line-height:34px; top:45px; letter-spacing:-1px;}
    #content_banner.disklimpeza #banner img {top: -169px; right:-331px;}

    /* DICAS */
    #content_banner.dicas #banner h1 {}
    #content_banner.dicas #banner img {top: -170px; right:-280px;}
















/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------- CONTAINER (CONTEUDO) ------------------------ */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#conteudo {width:960px; margin:0 auto;}
#conteudo h2 {font-size:40px; line-height:42px; color:#0074be; text-transform:uppercase; font-family: 'allerbold', sans-serif;}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------- CHAMADAS PRODUTO HOME ------------------------ */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#chamada_produtos {position:relative;}
#chamada_produtos h3.titulo {padding:15px 0 0 50px; margin:5px 10px; background:url(../images/icon_servicos.png) 10px center no-repeat, url(../images/linha.jpg) bottom center repeat-x;}
#chamada_produtos #carrousel {padding:0 9px; margin:10px -10px 0 -10px; overflow:hidden; display:block; width:960px;}
#chamada_produtos #carrousel li {float:left; padding:10px 8px;  width:160px; height:258px; margin:0 8px; border-radius:10px; background:#e9e9e9}
#chamada_produtos #carrousel li img { max-width:160px;height:214px;}
#chamada_produtos #carrousel li p {overflow: hidden;height: 40px; color:#0074be; text-transform:uppercase; font-size:20px; line-height:21px; font-family: 'yanone_kaffeesatzbold', sans-serif; text-align:center;}

.seta_voltar, .seta_avancar {display:block !important; width:31px; height:31px; position:absolute; top:5px; text-indent:-9999px}
.seta_voltar:hover, .seta_avancar:hover {opacity: 0.7; filter:Alpha(opacity=70);}
.seta_voltar {background:url(../images/icon_carrousel_left.png) center center no-repeat; right:50px}
.seta_avancar {background:url(../images/icon_carrousel_right.png) center center no-repeat; right:10px;}





/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------- COLUNAS HOME ------------------------ */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.content_coluna {width:100%; margin:19px 0; overflow:hidden;}
.content_coluna .coluna {width:31.33%; margin:1%; display:block; float:left;}

.content_coluna .coluna .titulo {border-bottom:solid 5px #0073bd;}

.icon_disklimpeza, .icon_dicas, .icon_empresa {width:61px; height:33px; display:block; margin-right:5px; float:left;}
.content_coluna .coluna .titulo .icon_disklimpeza {background:#0073bd url(../images/icon_produtos1.png) center center no-repeat;}
.content_coluna .coluna .titulo .icon_dicas {background:#0073bd url(../images/icon_parceiros.png) center center no-repeat;}
.content_coluna .coluna .titulo .icon_empresa {background:#0073bd url(../images/icon_empresa1.png) center center no-repeat;}

.content_coluna .coluna .saiba_mais {display:block; width:88px; height:24px; line-height:24px; background:url(../images/btn_saiba_mais_azul.jpg) center center repeat-x; border-radius:5px; font-family: 'allerregular', sans-serif; color:#FFF; font-size:14px; text-align:center; float:right; margin-top:10px;}
.content_coluna .coluna .saiba_mais:hover {opacity: 0.9; filter:Alpha(opacity=90); color:#000;}

.content_coluna .coluna .lista {overflow:hidden; margin:1px; padding:0; /*height:300px;*/}
.content_coluna .coluna .lista li {overflow:hidden; margin:10px 0; padding-bottom:22px; border-bottom: dashed 1px #0074be; height:71px;}
.content_coluna .coluna .lista li img {border-radius:5px; float:left; max-width:130px; max-height:87px; min-width:130px; min-height:87px;}
.content_coluna .coluna .lista .content_descricao {float:right; width:166px;}
.content_coluna .coluna .lista .content_descricao p {color:#424242; font-size:13px; line-height:15px; font-family: 'cabinregular', sans-serif; height:60px; overflow:hidden;}

.content_coluna .coluna .chamada_empresa {overflow:hidden; margin:10px 0 0 0; height:321px;}
.content_coluna .coluna .chamada_empresa img {max-width:440px; height:200px; cursor: default; border-radius:5px;}
.content_coluna .coluna .chamada_empresa p {
    overflow: hidden;
    color: #424242;
    cursor: default;
    font-size: 13px;
    line-height: 15px;
    font-family: 'cabinregular', sans-serif;
    height: 89px;
}




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------- PÁGINA EMPRESA ------------------------ */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#conteudo #lista_clientes {overflow:hidden; padding:40px 20px;}
#conteudo #lista_clientes h2 {padding-left:10px;}
#conteudo #lista_clientes ul {margin:0; padding:0;}
#conteudo #lista_clientes ul li {float:left; padding:0 !important; margin:15px 15px !important; background:none !important;}


#conteudo.empresa { min-height: 300px;}
#conteudo.empresa img{ width: 311px;}
#conteudo.empresa p {text-align: justify;}
#conteudo.empresa ul {margin:20px 0;}
#conteudo.empresa ul li {background:url(../images/icon_checked.png) center left no-repeat; padding-left:20px; margin:5px 0;}
.esquerdo{width: 337px;float: left;}


.trabalhe_conosco input{
  border: 1px solid !important;
}







/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------- PÁGINA DISKLIMPEZA ------------------------ */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#conteudo.disklimpeza {}
#conteudo.disklimpeza .msg {width:715px; margin:0 auto; display:block; text-align:center; color:#0074be; font-size:26px; line-height:28px; font-family: 'yanone_kaffeesatzbold', sans-serif; padding-bottom:15px; margin-bottom:15px; background:url(../images/linha_sombra.png) center bottom no-repeat;}

#lista_servicos {overflow:hidden; margin:79px 0 0;}
#lista_servicos ul {overflow:hidden; margin:0 -15px 0 -15px; padding:0; overflow:hidden;}
#lista_servicos li a {color: #0074be; float:left; margin:10px 8px; width:288px; height:240px; overflow:hidden;}
#lista_servicos li a:hover {background:url(../images/bg_lista_servico_hover.jpg) top center no-repeat;}
#lista_servicos li a:hover img {opacity: 0.6; filter:Alpha(opacity=60);}
#lista_servicos li a img {margin:0; padding:0; max-width:310px; min-width:310px; max-height:201px; min-height:201px;}
#lista_servicos li a h5 {text-align:center; height:40px; line-height:40px; font-size:26px; background:url(../images/bg_titulo_lista_disklimpeza.jpg) center top repeat-x; margin-top:-7px; position:relative; z-index:99; color:#FFF; font-family: 'yanone_kaffeesatzregular', sans-serif;}


#lista_parceiros {overflow:hidden; margin:20px 0 40px;}
#lista_parceiros ul {overflow:hidden; margin:0 -15px 0 -15px; padding:0; overflow:hidden;}
#lista_parceiros li {float:left; margin:10px 8px; width:310px; height:240px; overflow:hidden;}
#lista_parceiros li img {margin:0; padding:0; max-width:310px; min-width:310px; max-height:201px; min-height:201px;}
#lista_parceiros li h5 {text-align:center; height:40px; line-height:40px; font-size:26px; background:url(../images/bg_titulo_lista_disklimpeza.jpg) center top repeat-x; margin-top:-7px; position:relative; z-index:99; color:#FFF; font-family: 'yanone_kaffeesatzregular', sans-serif;}

.disklimpeza .content_banner_titulo {width:960px; height:175px; display:block; overflow:hidden; position:relative; z-index:9; margin-bottom:20px;}
.disklimpeza .content_banner_titulo .sombra_topo {background:url(../images/sombra_topo_disklimpeza.png) top center repeat-x; width:960px; height:10px; position:absolute; table-layout:0; left:0; z-index:8;}
.disklimpeza .content_banner_titulo img {min-width:960px; max-width:960px; min-height:175px; max-height:175px; position:absolute; top:0; left:0;}
.disklimpeza .content_banner_titulo h1 {position:absolute; bottom:0; left:0; width:940px; height:44px; line-height:44px; font-size:15px; text-transform:none; color:#FFF; padding:0 10px; margin:0; background:url(../images/transparencia_preto.png);}

.disklimpeza .lista_servico_interna {margin:0; padding:0; overflow:hidden;}

.disklimpeza #lista_servico_interna li {margin:60px 0; overflow:hidden;}
.disklimpeza #lista_servico_interna .li0 .descricao {float:left;}
.disklimpeza #lista_servico_interna .li1 .descricao {float:right;}
.disklimpeza #lista_servico_interna .li0 .content_mascara_img {float:right;}
.disklimpeza #lista_servico_interna .li1 .content_mascara_img {float:left;}

.disklimpeza #lista_servico_interna .descricao {width:510px;}
.disklimpeza #lista_servico_interna h2 a {color:#7283a6; font-size:31px; line-height:32px; margin:0; font-family: 'yanone_kaffeesatzregular ', sans-serif; letter-spacing:-1px; font-weight:normal;}
.disklimpeza #lista_servico_interna p {color:#696969; font-size:15px; line-height:17px;}
.disklimpeza #lista_servico_interna .content_mascara_img {width:409px; height:181px; display:block; position:relative; overflow:hidden;}
.disklimpeza #lista_servico_interna .content_mascara_img .mascara_img {display:block; width:409px; height:181px; display:block; position:absolute; top:0; left:0; z-index:9; background:url(../images/mascara_img_servico.png) center center no-repeat;}
.disklimpeza #lista_servico_interna .content_mascara_img img {min-width:409px; max-width:409px; min-height:181px; max-height:181px; position:absolute; top:0; left:0; z-index:8;}









/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ---------------------------- PÁGINA PRODUTOS --------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#conteudo.produtos {position:relative;}
#lista_produtos {margin:50px 0 20px 0; min-height:270px; padding:0; overflow:hidden;}
#lista_produtos li {float:left; margin:10px 10px 10px 0; width:210px; height:230px; padding:10px; background:url(../images/bg_lista_dicas.png) center center no-repeat; position:relative;}
#lista_produtos li .categoria {float:right; margin:0 10px; font-size:12px; color:#919191; width:200px; height:20px; text-align:right;}
#lista_produtos li img {border-radius:5px;}
#lista_produtos li p {color:#0074be; font-family: 'yanone_kaffeesatzregular', sans-serif; font-size:17px; line-height:19px; width:200px; margin:0; height:72px; overflow:hidden;}

#lista_produtos li .preco {color:#a10000; font-size:21px; font-family: 'yanone_kaffeesatzregular', sans-serif; position:absolute; bottom:28px; left:20px; height:22px; width:100px}

#lista_produtos li .leia_mais {border-radius:5px; width:100px; height:20px; position:absolute; bottom:10px; right:20px; display:block; color:#FFF; text-align:center; background:url(../images/btn_saiba_mais_azul.jpg) center center repeat-x; margin:5px 0 20px;}
#lista_produtos li .leia_mais:hover {opacity: 0.9; filter:Alpha(opacity=90); color:#000;}

/* INTERNA DE PRODUTOS */
#conteudo.produtos #content_holder {margin-top:100px;}

#galeria_produto {overflow:hidden; float:left; margin-right:20px;}
#galeria_produto #content_imgs_principal {display:block; width:400px; height:300px; overflow:hidden; border-radius:5px; background:#f5f1ee;}
#galeria_produto #content_imgs_principal #img_principal {width:380px; height:280px; margin:10px; position:relative;}
#galeria_produto #content_imgs_principal #img_principal img {max-width:380px; min-width:380px; max-height:280px; min-height:280px; position:absolute; top:0; left:0; display:none;}
#galeria_produto #content_imgs_principal #img_principal img:hover {opacity:1;filter:Alpha(opacity=100);}
#galeria_produto #content_imgs_principal #img_principal img:first-child {display:block;}

#galeria_produto #content_tumbs {width:356px; position:relative;}
#galeria_produto #content_tumbs .seta_voltar {left:5px; top:20px;}
#galeria_produto #content_tumbs .seta_avancar {right:-45px; top:20px;}
#galeria_produto #content_tumbs .caroufredsel_wrapper {width:310px !important; margin:0 40px !important;}

#content_informacoes_produtos h2 {font-family: 'yanone_kaffeesatzbold', sans-serif; font-size:30px; color:#0074be; line-height:32px; font-weight:normal;}
#content_informacoes_produtos .preco {color:#a10000; font-size:30px; font-family: 'yanone_kaffeesatzregular', sans-serif;}


#galeria_produto #content_tumbs ul {margin:0 18px !important; padding:0;}
#galeria_produto #content_tumbs ul li {float:left; width:78px; height:57px; margin:5px 10px 0 0; padding:5px; border-radius:5px; background:#f5f1ee;}
#galeria_produto #content_tumbs ul li img {max-width:77px; min-width:77px; max-width:57px; min-height:57px;}


#lista_produtos.dentro {margin:0px 0 20px 0;}
#lista_produtos.dentro li {margin:10px 10px 10px 0;}


/* --------------------- FILTROS --------------------- */
#content_filtros {overflow:hidden; min-height:50px; width:100%; border-top:solid 4px #d2d3d7; margin-top:15px; position:absolute; z-index:9999;}
#content_filtros h1 {color:#707478; font-size:25px; line-height:27px; margin:0px 0px 0px 5px; font-family: 'yanone_kaffeesatzbold', sans-serif;}

#content_filtros #filtro_categoria,
#filtro_marca {background:#d2d3d7; overflow:hidden; padding-top:10px;}


#content_filtros #filtro_categoria {display:none;}

#filtro_categoria {margin-top:50px; overflow:hidden; padding-top:10px;}
#filtro_categoria ul {padding:0; margin:0;}
#filtro_categoria ul li {float:left; padding:10px 8px; margin:6px; background:#e9e9e9; border-radius:5px; text-align:center;}
#filtro_categoria ul li a p {color:#0073bd; font-size:21px; font-family: 'yanone_kaffeesatzbold', sans-serif;}
#filtro_categoria ul li img {opacity: 1; filter:Alpha(opacity=1); max-width:161px; min-width:161px; min-height:218px; max-height:218px;}
#filtro_categoria ul li img:hover {opacity: 1; filter:Alpha(opacity=100);}

#filtro_categoria ul li h2 a {color:#0073bd; font-size:21px; font-family: 'yanone_kaffeesatzbold', sans-serif;}

#content_filtros #filtro_marca {display:none;}
#content_filtros #filtro_marca ul {margin:0; padding:0;}
#content_filtros #filtro_marca ul li {float:left; margin:5px 3px;}
#content_filtros #filtro_marca ul li img {}


#botoes_filtros {width:280px; position:absolute; top:0; right:10px;}
#botoes_filtros h5 {float:left; color:#707478; font-size:17px; font-family: 'yanone_kaffeesatzbold', sans-serif;}
#botoes_filtros a {background:#d2d3d7; padding:3px 5px; margin:0 0 0 10px; border-radius:0 0 5px 5px; color:#707478; font-size:22px; font-family: 'yanone_kaffeesatzbold', sans-serif; display:block; overflow:hidden; text-align:center; float:left;}
#botoes_filtros a:hover, #botoes_filtros a.active {background:#bababf;}










/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ---------------------------- PÁGINA DICAS --------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#form_busca {background:#d2d3d7; padding:3px; height:34px; border-radius:5px;}
#form_busca #busca {width:885px; height:30px; line-height:30px; margin:1px 5px 1px 1px; padding-left:20px; float:left; color:#838282; font-size:21px; font-family: 'yanone_kaffeesatzregular ', sans-serif;}
#form_busca #enviar {width:41px; height:32px; display:block; background:url(../images/icon_input_search.png) center center no-repeat; text-indent:-9999px; float:right;}

/* PLACEHOLDER */
#form_busca input::-webkit-input-placeholder { color:#838282; font-size:21px; font-family: 'yanone_kaffeesatzregular ', sans-serif; }
#form_busca input::-moz-placeholder { color:#838282; font-size:21px; font-family: 'yanone_kaffeesatzregular ', sans-serif; } /* firefox 19+ */
#form_busca input:-ms-input-placeholder { color:#838282; font-size:21px; font-family: 'yanone_kaffeesatzregular ', sans-serif; } /* ie */
#form_busca input:-moz-placeholder { color:#838282; font-size:21px; font-family: 'yanone_kaffeesatzregular ', sans-serif; }

#lista_dicas {margin:20px 0; margin-right:-30px; padding:0; overflow:hidden;}
#lista_dicas li {float:left; margin:10px 16px 10px 0; width:210px; height:230px; padding:10px; background:url(../images/bg_lista_dicas.png) center center no-repeat;}
#lista_dicas li .data {float:right; margin:0 10px; font-size:12px; color:#919191; width:50px; height:20px;}
#lista_dicas li img {border-radius:5px; max-width:200px; max-height:112px; min-width:200px; min-height:112px;}
#lista_dicas li p {color:#0074be; font-family: 'yanone_kaffeesatzbold', sans-serif; font-size:21px; line-height:23px; width:200px; margin:0; height:72px; overflow:hidden;}



/* INTERNA DE DICAS */
#content_holder {margin:20px 0; overflow:hidden;}
#content_holder #content_principal {float:left; width:700px;}
#content_holder #content_principal .data {color:#919191; font-size:15px;}
#content_holder #content_principal h1 {color:#0074be; font-family: 'yanone_kaffeesatzbold', sans-serif; font-size:21px; line-height:23px;}
#content_holder #content_principal img {border-radius:5px; margin-bottom:10px; max-width:700px;}
#content_holder #content_principal p {line-height:17px; text-align:justify;}
#content_holder #content_principal p+p {margin:10px 0;}

#content_holder #content_auxiliar {float:right;  width:250px;}
#content_holder #content_auxiliar .titulos {float:right; margin-left:10px;}
#content_holder #content_auxiliar .titulos h3 {text-align:right; margin:0; font-size:27px; line-height:27px; color:#707478; font-family: 'yanone_kaffeesatzbold', sans-serif;}
#content_holder #content_auxiliar .titulos h2 {text-align:right; letter-spacing:-1px; margin:0;}


#content_holder #content_auxiliar ul {margin:0; padding:0;}
#content_holder #content_auxiliar ul li {background:url(../images/linha.jpg) center bottom repeat-x; margin:10px 0; padding:10px 0; overflow:hidden;}
#content_holder #content_auxiliar ul li img {float:left; margin-right:5px; max-width:102px; max-height:82px;}
#content_holder #content_auxiliar ul li .leia_mais {border-radius:5px; width:100px; height:20px; float:right; display:block; color:#FFF; text-align:center; background:url(../images/btn_saiba_mais_azul.jpg) center center repeat-x; margin-top:5px;}
#content_holder #content_auxiliar ul li .leia_mais:hover {opacity: 0.9; filter:Alpha(opacity=90); color:#000;}

#content_holder #content_auxiliar .clear {display:block; widows:0; height:0;}





/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ---------------------------- PÁGINA CONTATO --------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#conteudo .titulos {float:left; margin-left:10px;}
#conteudo .titulos h3 {margin:0; font-size:27px; line-height:27px; color:#707478; font-family: 'yanone_kaffeesatzbold', sans-serif;}
#conteudo .titulos h2 {letter-spacing:-1px; margin:0;}


#conteudo .content_mapa {width:940px; margin:20px auto; overflow:hidden;}
#conteudo h2.titulo_mapa {background:url(../images/icon_mapa.jpg) left center no-repeat; padding-left:75px; color:0074be; font-size:27px; line-height:30px; text-transform:uppercase; border-bottom:5px #0074be solid;}
#conteudo .content_mapa iframe {margin:0 auto;}

.content_navegacao_forms {border-radius:5px; background:#e6e6e6; padding:5px; float:right; margin:11px 29px 0 0;}
.content_navegacao_forms ul {padding:0; margin:0;}
.content_navegacao_forms ul li {float:left;}
.content_navegacao_forms ul li a {color:#0074be; font-size:13px; padding:5px 5px 5px 35px; border-radius:5px; margin:0 2px;}
.content_navegacao_forms ul li a:hover {color:#000;}

.content_navegacao_forms ul li a.fale_conosco {background:url(../images/icon_fale_conosco.png) 5px center no-repeat;}
.content_navegacao_forms ul li a.trabalhe_conosco {background:url(../images/icon_trabalhe_conosco.png) 10px center no-repeat;}
.content_navegacao_forms ul li a.orcamentos {background:url(../images/icon_orcamento.png) 5px center no-repeat;}

/* ACVIVES */
.contato .content_navegacao_forms ul li a.fale_conosco {background:#FFF url(../images/icon_fale_conosco.png) 5px center no-repeat;}
.trabalhe_conosco .content_navegacao_forms ul li a.trabalhe_conosco {background:#FFF url(../images/icon_trabalhe_conosco.png) 10px center no-repeat;}
.orcamento .content_navegacao_forms ul li a.orcamentos {background:#FFF url(../images/icon_orcamento.png) 5px center no-repeat;}


#form_contato {padding:10px; overflow:hidden; margin:10px 0;}
#form_contato input, #form_contato textarea { width:230px; padding: 16px 10px 16px 60px; height:19px; line-height:45px; border-radius:5px; border:solid 1px #eee; font-family: 'yanone_kaffeesatzbold', sans-serif; color:#0074be; font-size:17px; line-height:19px; margin:10px 8px 10px 0;}
#form_contato textarea {width:860px; height:140px; resize:none; padding:10px 10px 10px 60px;}

#form_contato #nome {background:#e6e6e6 url(../images/icon_nome.jpg) left center no-repeat;}
#form_contato #email {background:#e6e6e6 url(../images/icon_mail.jpg) left center no-repeat;}
#form_contato #telefone {background:#e6e6e6 url(../images/icon_fone.jpg) left center no-repeat;}
#form_contato #mensagem {background:#f5f1ee url(../images/icon_mensagem.jpg) left center no-repeat;}

#form_contato #escolaridade {background:#e6e6e6 url(../images/icon_escolaridade.jpg) left center no-repeat;}
#form_contato #area {background:#e6e6e6 url(../images/icon_area.jpg) left center no-repeat;}
#form_contato #cargo {background:#e6e6e6 url(../images/icon_cargo.jpg) left center no-repeat;}
#form_contato #cidade, #form_contato #estado {background:#e6e6e6 url(../images/icon_cidade.jpg) left center no-repeat;}
#form_contato #curriculo {background:#e6e6e6 url(../images/icon_curriculo.jpg) left center no-repeat;}

#form_contato #empresa {background:#e6e6e6 url(../images/icon_empresa_form.jpg) left center no-repeat;}
#form_contato #area_atuacao {background:#e6e6e6 url(../images/icon_area_atuacao.jpg) left center no-repeat;}
#form_contato #servico {background:#e6e6e6 url(../images/icon_cargo.jpg) left center no-repeat;}


#form_contato #recaptcha_response_field {font-size:19px; padding:2px 5px !important; width:135px!important}
#form_contato #enviar {float:right; border-radius:0; width:100px; padding:5px 20px 5px 5px; background:#0074be url(../images/icon_check_white.png) 72px center no-repeat; color:#FFF; font-size:17px; height:27px; text-transform:uppercase; font-family: 'allerregular', sans-serif; letter-spacing:-1px;}

/* PLACEHOLDER */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:#0074be; }
input::-moz-placeholder, textarea::-moz-placeholder { color:#0074be; } /* firefox 19+ */
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color:#0074be; } /* ie */
input:-moz-placeholder, textarea:-moz-placeholder { color:#0074be; }





















/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ----------------------------- RODAPÉ ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#content_rodape {width:100%; min-height: 195px; background: #d3d4d8;}
#content_rodape #rodape {width:1000px; height:143px; margin:auto; left:50%; margin-left:-500px; position:relative; z-index:999;}

#content_rodape #rodape .logo {padding-top:20px; float:left;}


#content_rodape #rodape ul {margin:20px 0 5px 30px; padding:0; float:left; position:relative;}
#content_rodape #rodape ul li {float:left;}

#content_rodape #rodape ul li a {padding:3px 10px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#content_rodape #rodape ul li a:hover {color: #fff; background:#263757; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#content_rodape #rodape ul li a, #content_rodape #rodape ul li {color:#000; font-family: 'yanone_kaffeesatzbold', sans-serif; font-size:21px;}

#content_rodape #rodape h4 {padding-left:70px; display:block; width:570px; font-family: 'cabinbold', sans-serif; font-size:15px; color:#FFF; overflow:hidden;}
#content_rodape #rodape h4.endereco {background:url(../images/icon_home_rodape.png) 45px center no-repeat;}
#content_rodape #rodape h4.telefone {background:url(../images/icn_telefone_rodape.png) 45px center no-repeat;}

#content_rodape #rodape .copyright {width:960px; display:block; text-align:center; bottom:0; position:absolute;}
.logo_homeweb {display:block; width:50px; height:66px; background:url(../images/logo_homeweb.png) center center no-repeat;}
#content_rodape #rodape .logo_homeweb {position:absolute; right:30px; top:50px;}
.barra-pesquisa-dicas {
    background: url(#d3d4d8);

}



#slider_portifolio{
    margin-bottom: 20px;
}


#slider_portifolio ul, #slider_portifolio ul li{
    height: 550px;
    width: 700px;
    padding: 0px;
}

.conteudo-portfolio #nextBtn{
    float: right !important;
}



.btn-comprar{
    background: #0074be;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}



.lista-itens-orcamento thead{
    font-size: 15px;
    color: #000;
    border: 2px solid #000;
}


.bottom-table{
    background: #337AB7;
}

.lista-itens-orcamento tbody{
    font-size: 17px;
    color: #000;
    border: 2px solid #000;
}

.lista-itens-orcamento tbody tr td{
    vertical-align: middle;
}

.lista-itens-orcamento tbody .glyphicon-remove{
    color: #f00000;
}

.lista-itens-carrinho{
    margin: 10px 0px;
    overflow: hidden;
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 20px;
    padding-bottom: 10px;
}


.input-lista-prod-orcamentos {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #000;
    text-align: center !important;
    width: 30px !important;
}


#rodape .logo {
    background:url(../images/logo_rodape.png) no-repeat;
    margin-top: 25px;
    height: 140px;
}

.lista1{
  width: 90%;
}
.lista1 li{
  float: right;
  margin-top: 37px;
  margin-left: 10px;
}

.lista1 img{
  width: 80px;
  height: 40px;
}


#barra_info1 {
    top: 46px;
    width: 640px;
    margin: auto;
    left: 74%;
    margin-left: -500px;
    position: absolute;
    z-index: 999;
    overflow: hidden;
}

#barra_info1 .telefone {
    float: left;
    margin: 10px;
}

#barra_info1 .telefone p {
    color: #000;
    text-align: right;
    font-size: 10px;
    font-family: 'allerregular', sans-serif;
}

#barra_info1 h5 {
    font-family: 'allerregular', sans-serif;
    font-size: 17px;
    color: #000;
    margin: 0px 0px 5px 0px;
    line-height: 19px;
    font-weight: normal;
}


.endereco_rodape h2{
  font-size: 17px;
  color: #000;
  margin-top: 15px;
  line-height: 17px;
}

.endereco_rodape {
    position: absolute;
    top: 85px;
    margin-left: 245px;
}


.copyright {width:960px; color: #454545; display:block; text-align:center; bottom:0; position:relative;}


.scrollup {
width:65px;
height:65px;
opacity: 0.7;
position: fixed;
bottom: 108px;
right: 30px;
display: none;
text-indent: -9999px;
background: url(../images/up-arrow.png) no-repeat;
z-index: 9999;
}


.bg-danger{
  font-family: 'allerregular', sans-serif;
  font-size: 30px;
  color: #fff;
  background: #B2B2B6;
}


#lista_produtos h1{
  font-family: 'allerregular', sans-serif;
    font-size: 30px;
    color: #fff;
    background: #D2D3D7;
    padding-left: 20px;
}

.posicao{
position: relative;
  width: 960px;
    margin: 0 auto;
}

#draggable {
  position: absolute;
  top: 0;
  left: 32%;
  text-align: center;
  z-index: 999;
  font-family: 'cabinregular';
  width: 312px;
   height: 170px;
    padding: 5px;
    cursor: all-scroll;
    border-radius: 4px;
  }

.btn_trabalhe_conosco{
  color: #fff;
  font-size: 13px;
  min-width: 312px;
  background:#CC0303;
  font-family: 'cabinregular';
  border-radius: 4px;
  border: 0px;
  text-align: left;
  padding: 5px;
}

#draggable p,#draggable h1{
  color: #000;
  line-height: 15px;
  font-size: 13px;
  text-align: left;
}

.fa-check-circle:before {
    content: "\f058";
    color:#CC0303;
    cursor: pointer;
}

#draggable p a{
  font-weight: 700;
}

.fa-times-circle:before{
    cursor: pointer;
}
