div.skinned-select {
  background:url(../../../imgs/bg-area-select.jpg) top right;
  width:160px;
  height:40px;
  margin:10px 8px 0 0;
  float:left;
  cursor:pointer;
  color:#FFF;
}

div.skinned-select:hover {
  background:url(../../../imgs/bg-area-select-selecionado.jpg) top right;
  width:160px;
  height:40px;
  float:left;
  cursor:pointer;
  color:#FFF;
}
div.skinned-select select {
	width:160px;
	opacity: 0;
	filter: alpha(opacity = 0);
	moz-opacity: 0;
	position: relative;
	z-index: 100;
  	margin:0px;
}
div.skinned-select .select-text {
  	position: absolute;
	margin:8px 0 0 0px;
	width:50px;
	text-indent: 10px;
	line-height: 29px;
	z-index: 1;
}
div.skinned-select .select-text,
div.skinned-select select,
div.skinned-select select option {
  width: 160px;
  height:40px;
}

div.skinned-select select,
div.skinned-select select option {
  width: 100%;
  background-color:#333333;
  height:40px;
}  
.my-skinnable-select select {
  width: 160px;
  height:40px; float:left;
}
