@charset "utf-8";

/* CSS Geral BASIC */


/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
*/

@import url('fonts.css');

/* Reset */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }
.top40 { margin-top:40px; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top105 { margin-top:105px; }
.top195 { margin-top:195px; }
.top220 { margin-top:220px; }
.top250 { margin-top:250px; }
.top300 { margin-top:300px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left130 { margin-left:130px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }

.topbottom20 { padding-top:20px; }


.pbottom10 { padding-bottom:10px; }
.pbottom20 { padding-bottom:20px; }
.pbottom40 { padding-bottom:40px; }
.pbottom60 { padding-bottom:60px; }
.pbottom80 { padding-bottom:80px; }
.pbottom100 { padding-bottom:100px; }


.container {
	max-width: 480px;
}

.input100 {
	width: 100% !important;
}

.fonte-cabin {
	font-family: 'Cabin', sans-serif;
}

.fonte_lato{
	font-family:"Lato Bold";
}

.fonte-yannone{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 400;
}

.fonte-yannone-bold{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 700;
}

.padding0{
	padding: 0;
}
body {
	font-family:'allerregular';
}

h1 {
	font-size: 20px;
	color: #000;
}

h3 {
    font-family: 'allerregular', sans-serif;
    font-size: 18px;
    color: #0074be;
    margin: 10px 0 0;
    font-weight: normal;
}

h6 {
	font-size: 30px;
	text-decoration: underline;
}

p {
	text-align: justify;
	color: #000;
	font-size: 14px;
}

a:hover {
	text-decoration: none;
}


/* ============================ topo ============================ */

.menu-home {
	cursor: pointer;
    z-index: 999999;
    font-weight: 700;
    padding: 14px 115px;
    background: url(../imgs/menu_topo.png) no-repeat;
    color: #004a77;
    height: 50px;
    position: relative;
		-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.fundo_topo_menu{
	z-index: 99;
	background: url(../imgs/fundo_transparente.png);
}

.bg-topo{
	background: url(../imgs/fundo_topo.png) top center;
}
.barra{
	border: 7px solid #000;
}



.menu-home1{
	background: url(../imgs/seta-menu-topo.png);

}

.telefone-topo{
	position: relative;
	z-index: 111;
	border-top: 4px solid #fff;
	background: url(../imgs/barra-transparente-topo-telefone.png) top center no-repeat;
}

.telefone-topo1 {
	margin-top: -50px;
	position: relative;
}
.telefone-topo h3{
	margin-top: 5px;
	padding-left: 15px;
	font-size: 10px;
	color:#495d97;
	font-weight:700;

}

.telefone-topo h4{
	font-size: 17px;
	color:#b9b9b9;
	font-weight:700;

}


.telefone-topo span{
	padding-right: 5px;

}

.btn-cinza{
	font-weight: 700;
	background: #fd2016;
	padding: 5px 12px;
	color:#fff;
	border-radius: 0;
	font-weight: 400;
}




/* ============================ topo ============================ */

/* ============================ home ============================ */

.navs-personalizados li{
	margin-right: 5px !important;
	height: 20px;
	width: 20px;
	margin: 0;
	opacity: 0.5;
	background-color: #fff;
	 border-radius: 50%;
	 overflow: hidden;
	 box-shadow: 0px 2px 3px #000;
}

.navs-personalizados li.active{
	margin-right: 5px !important;

}


.navs-personalizados {
	bottom:18px;
	position: absolute;
	left: 15%;
}


.navs-personalizados li.active {
	width: 20px;
	height: 20px;
	margin: 0;
	margin-right: 5px !important;
	opacity: 1;
	background-color: #fff;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	margin-left: 351px;
}

.carousel-control {
	position: absolute;
	top: 320px;
	bottom: 0%;
	left: 0;
	width: 15%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	filter: alpha(opacity=50);
	opacity: .5;
}


.produtos-home{
	border-bottom: 1px dashed #4a5e97;
}


.produtos-home h1{
	font-size: 27px;
	color: #4a5e97;
	font-weight: 700;
}


.lista-produto{
	border-radius: 5px;
	background: #eaeaea;
	padding-bottom: 10px;
}

.lista-produto h1{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding: 9px 0px 20px 0px;
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	color: #4a5e97;
	height: 43px;
	overflow: hidden;
}

.servicos-home{
	height: 40px;
	background: url(../imgs/barra-home-personalizada1.png) top center no-repeat;
}

.produtos_home{
	height: 40px;
	background: url(../imgs/barra-home-personalizada2.png) top center no-repeat;
}

.produtos_home h5{
	padding: 5px 0px 0px 68px;
	font-size: 27px;
	font-weight: 700;
	color: #0074c1;
}

.parceiros_home{
	height: 40px;
	background: url(../imgs/barra-home-personalizada3.png) top center no-repeat;
}

.parceiros_home h5{
	padding: 5px 0px 0px 68px;
	font-size: 27px;
	font-weight: 700;
	color: #0074c1;
}




.empresa_home{
	height: 40px;
	background: url(../imgs/barra-home-personalizada3.png) top center no-repeat;
}

.empresa_home h5{
	padding: 5px 0px 0px 68px;
	font-size: 27px;
	font-weight: 700;
	color: #0074c1;
}



.servicos-home h5{
	padding: 5px 0px 0px 20px;
	font-size: 27px;
	font-weight: 700;
	color: #4a5e97;
}

.fa-star:before {
	color: #6b84a9;
	padding-right: 20px;
	content: "\f005";
}

.servicos-home1{
	border-bottom: 1px dotted #4a5e97;
	padding-bottom: 10px;
}

.servicos-home1 h1{
	font-family: 'Cabin', sans-serif !important;
	font-size: 16px;
	font-weight: 400;
	color: #4a5e97;
	margin-bottom: 5px;
}

.servicos-home1 p{
	font-family: 'Cabin', sans-serif !important;
	padding-bottom: 9px;
	font-size: 13px;
	font-weight: 400;
	color: #404040;
	height: 74px;
	overflow: hidden;
}

.servicos-home1 img{
	margin-top: 7px;
}

.fa-university:before {
	color: #6b84a9;
	padding-right: 20px;
	content: "\f005";
}

.index-conheca-disklimp p{
	font-family: 'Cabin', sans-serif !important;
	padding:9px 0px		;
	font-size: 13px;
	font-weight: 400;
	color: #404040;
	height: 121px;
    overflow: hidden;
}

.btn-azul-home{
	font-size: 14px;
	padding: 6px 18px;
	font-weight: 700;
	margin-top: 10px;
	background: #133153;
}



.fa-sticky-note:before {
	color: #6b84a9;
	padding-right: 20px;
	content: "\f005";
}

/* ============================ home ============================ */

/* ============================ Empresa ============================ */

.bg-empresa{
	margin-top: -49px;
	height: 242px;
	background: url(../imgs/bg-empresa.jpg) top center no-repeat;
}



.fundo-transparente-empresa h3{
	margin-top: 204px;
	padding: 30px  0px;
	font-size: 40px;
	font-weight: 700;
	color: #fff;
}

.descricao-empresa h2{
	font-family: 'Cabin', sans-serif !important;
	text-align: justify;
	padding: 10px 0px;
	font-size: 14px;
	font-weight: 400;
	color: #141414;
}

.descricao-empresa h1{
	font-family: 'Cabin', sans-serif !important;
	padding: 5px 0px;
	font-size: 15px;
	font-weight: 400;
	color: #141414;
}

.descricao-empresa span{
	padding: 10px;
	color: #141414;
}


/* ============================ Empresa ============================ */

/* ============================ Contatos ============================ */

.contatos-descricao h3{
	padding: 20px 0px;
	font-size: 17px;
	font-weight: 700;
	color: #000
}

/*.contatos-descricao h3.contatos-descricao span{
display: inline;
}
*/
.contatos-descricao span{
	padding-right:15px;
}

.btn-cinza-contatos1{
	color: #54679c;
}

.bg-contatos{
	margin-top: -52px;
	height: 242px;
	background: url(../imgs/bg-nossos-contatos.jpg) top center no-repeat;
}

.btn-lg, .btn-group-lg>.btn {
	color: #000;
	padding: 0px;
}

.fundo-form{
	background: #e7e7e7;
}

.btn-azul-contatos{
	font-weight: 700;
	font-size: 17px;
	color: #fff;
	background: #4a5e97;
}

.btn-azul-contatos:hover{
	font-weight: 700;
	font-size: 17px;
	color: #fff;
	background: #4a5e97;
}


.fa-envelope:before {
	margin-right: 4px;
	content: "\f0e0";
}

.fa-child:before {
	margin-right: 4px;
	content: "\f0e0";
}
.fa-calculator:before {
	margin-right: 4px;
	content: "\f0e0";
}

.menu-contatos{
	width: 450px;
	border-radius: 5px ;
	background: #e7e7e7;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 12px;
}

.menu-contatos li{
	color: #4a5e97;
	font-size: 13px;
	font-weight: 300;
}

/* ============================ Contatos ============================ */



/* ============================dicas  ============================ */

.bg-dicas{
	margin-top: -52px;
	height: 242px;
	background: url(../imgs/bg-dicas.jpg)top center no-repeat;

}

.barra-pesquisa-dicas .form-control {
	background:#d3d4d8;
}

.descricao-dicas-geral{
	border-radius: 5px;
	background: #e6e6e6;
	-webkit-box-shadow: 0px 8px 25px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 25px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 25px -4px rgba(0,0,0,0.75);
}

.descricao-dicas-geral h2{
	padding: 10px 15px 10px 0px;
	text-align: right;
	font-family: 'Cabin', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #929292;
}


.descricao-dicas-geral p{
	padding: 10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 19px;
	font-weight: 700;
	color: #4a5e97;
}

.descricao-dicas-dentro h2{
	padding: 18px 0px 12px 0px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #929292;
}


.descricao-dicas-dentro h1{
	padding-bottom: 13px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 21px;
	font-weight: 700;
	color: #4a5e97;
}


.descricao-dicas-geral{
	border-radius: 5px;
	background: #e6e6e6;
	-webkit-box-shadow: 0px 8px 25px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 25px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 25px -4px rgba(0,0,0,0.75);
}




.descricao-dicas-dentro p{
	padding: 50px 0px;
	font-family: 'Cabin', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #404040;
}

/* ============================dicas ============================ */

/* ============================ produtos ============================ */
.bg-produtos{
	margin-top: -52px;
	height: 242px;
	background: url(../imgs/bg-produtos.jpg)top center no-repeat;

}

.descricao-produtos-geral{
	border-radius: 5px;
	background: #e6e6e6;
	-webkit-box-shadow: 0px 8px 25px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 25px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 25px -4px rgba(0,0,0,0.75);
	padding-bottom: 20px;
	height: 280px;
}


.descricao-produtos-geral h1{
	padding: 10px 15px 10px 0px;
	text-align: right;
	font-family: 'Cabin', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #929292;
}


.descricao-produtos-geral p{
	padding: 10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #4a5e97;
	height: 55px;
    overflow: hidden;
}

.descricao-produtos-geral h2{
	text-align: left;
	padding: 20px 0px 10px 10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 19px;
	font-weight: 400;
	color: #bd0000;
}



.btn-azul-home1{
	padding: 9px 18px;
	font-weight: 700;
	font-size: 14px;
	background: #143356;
}

.btn-azul-home1:hover{
	background: #345a8b;
}

.menus-produtos{
	background: #d3d4d8;
	height: 6px;
}


.drop-personalizado {
	margin-top: 34px;
	width: 104%;
	left: -7px;
}

.btn-drop{
	background: #d3d4d8;
}

.btn-drop:hover{
	background: #d3d4d8;
}


.produtos-dentro-descricao h1{
	padding: 10px 15px 10px 0px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 28px;
	font-weight: 700;
	color: #4a5e97;
}

.img-rounded {
	border: 6px solid #f7f1ee;
	border-radius: 6px;
}


.produtos-dentro-descricao h2{
	padding: 28px 0px 10px 0px;
	font-family: 'Cabin', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #bd0000;
}

.produtos-dentro-descricao p{
	margin-bottom: 10px;
	font-family: 'Cabin', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #696969;
}

.veja-tambem-produtos h2{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 27px;
	font-weight: 700;
	color: #707478;
}

.descricao-produtos-geral1 h1{
	padding: 10px 15px 10px 0px;
	text-align: right;
	font-family: 'Cabin', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #929292;
}


.descricao-produtos-geral1 p{
	text-align: center;
	padding: 10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #4a5e97;
}

.descricao-produtos-geral1 h2{
	text-align: left;
	padding: 20px 0px 10px 10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 19px;
	font-weight: 400;
	color: #bd0000;
}

.btn-azul-home11{
	margin-right: -100px;
	padding: 9px 18px;
	font-weight: 700;
	margin-top: -55px;
	font-size: 14px;
	font-weight: 700;
	background: #143356;
}

.btn-azul-home11:hover{
	margin-right: -100px;
	padding: 9px 18px;
	font-weight: 700;
	margin-top: -55px;
	font-size: 14px;
	font-weight: 700;
	background: #345a8b;
}



/* ============================produtos  ============================ */

/* ============================Orçamentos ============================ */

.bg-orcamentos{
	margin-top: -52px;
	height: 242px;
	background: url(../imgs/bg-servicos.jpg)top center no-repeat;

}

.descricao-sercicos{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}


.descricao-sercicos p{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 19px;
	padding: 23px 0px 15px 0px;
	font-weight: 700;
	font-size: 21px;
	color: #6b84a9;
}

.servicos-descricao	{
	margin-top: 20px;
	background: #002945;
}


.servicos-descricao h3{
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	height: 35px;
	overflow: hidden;
	line-height: 19px;
}

.descricao-servicos-dentro{
	-webkit-box-shadow: 0px -4px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -4px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -4px 7px 0px rgba(0,0,0,0.75);
}



.descricao-servicos-dentro h1{
	position: relative;
	margin-top: -60px;
	padding-left: 10px;
	line-height: 60px;
	background: url(../imgs/barra-transparente-servico.png) top center no-repeat;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 31px;
	font-weight: 700;
	color: #fff;

}


.descricao-servicos-dentro1 h2{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 25px;
	font-weight: 700;
	color: #6b84a9;

}

.descricao-servicos-dentro1 p{
	padding: 20px 0px;
	font-family: 'Cabin', sans-serif;;
	font-size: 15px;
	font-weight: 400;
	color: #696969;

}

/* ============================Orçamentos ============================ */

/* ============================ Rodape ============================ */
.bg-fundo-preto{
	background: #000;
}

.bg-fundo-preto h4{
	padding: 15px 0px 10px 0px;
	color:#fff;
	font-weight: 700;
	font-size: 19px;
}




/* ============================ Rodape ============================ */




#slider_portifolio{
    margin-bottom: 20px;
}



.conteudo-portfolio #nextBtn{
    float: right !important;
}


#chamada_produtos h3.titulo {
    background: url(../images/icon_servicos.png) 10px center no-repeat, url(../images/linha.jpg) bottom center repeat-x;
}


/**
============================================
          CSS CAROUCEL
============================================
*/
#carousel-example-generic-equipe .carousel-indicators,
.slider-parceiros-clientes .carousel-indicators{
    bottom: -50px;
}

#carousel-example-generic-equipe .carousel-indicators li,
.slider-parceiros-clientes  .carousel-indicators li{
  width: 0px;  /*retira bolinhas*/
    height: 0px;  /*retira bolinhas*/
    background: #7f7f7f;
    border: none;
		margin-right: 5px !important;
}

#carousel-example-generic-equipe .carousel-indicators .active,
.slider-parceiros-clientes .carousel-indicators .active{
    background: #000000;
    margin: 1px;
}




#carousel-example-generic-equipe .carousel-control.left,
#carousel-example-generic-equipe .carousel-control.right,
.slider-parceiros-clientes  .carousel-control.left,
.slider-parceiros-clientes  .carousel-control.right{
    background: none;
}


#carousel-example-generic-equipe .carousel-control.left,
.slider-parceiros-clientes .carousel-control.left{
    left: 386px;
    /*top: inherit;*/
    bottom: -47px;
    width: 35px;
    height: 35px;
    z-index: 100;
		background: #c2c2c2;
		border-radius: 5px;
}


#carousel-example-generic-equipe .carousel-control.right,
.slider-parceiros-clientes .carousel-control.right{
    right: 14px;
    /*top: inherit;*/
    bottom: -61px;
    width: 35px;
    height: 35px;
    z-index: 100;
		background: #c2c2c2;
		border-radius: 5px;
}


#carousel-example-generic-equipe .fa-chevron-left,
#carousel-example-generic-equipe .fa-chevron-right,
.slider-parceiros-clientes .fa-chevron-left,
.slider-parceiros-clientes .fa-chevron-right{
	padding-top: 2px;
    font-size: 20px; /*retira setas*/
    color: #bdbdbd;
    height: 23px;
    border-radius: 50px;
    background: #fff;
		text-align: center;
    margin-top: 5px;
    width: 24px;
}

.lista-parceiros{
  background: #eaeaea;
	border-radius: 5px;
}

.lista-parceiros h1 {
    overflow: hidden;
    padding-bottom: 40px;
    font-size: 18px;
    font-family: 'yanone_kaffeesatzregular';
    color: #0074c1;
    height: 20px;
}

.slider-parceiros-clientes .carousel-control {
	position: absolute;
	top: 30px;
	bottom: 0%;
	right:  0;
	width: 15%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	filter: alpha(opacity=50);
	opacity: .5;
}


/**
============================================
          CSS CAROUCEL
============================================
*/


.servicos-home_mobile .fa-star:before {
	color: #0074c1;
	padding-right: 10px;
	content: "\f005";
}

.servicos-home_mobile{
	border-bottom: 1px dashed #4a5e97;
	padding-bottom: 5px;
}

.servicos-home_mobile h5{
	font-family:'allerregular';
	font-size: 27px;
	font-weight: 400;
	color: #0074c1;
	margin-bottom: 5px;
}


.produtos_desc_home h1 {
    overflow: hidden;
    font-size: 18px;
    color: #4a5e97;
    font-family: 'yanone_kaffeesatzbold';
    height: 38px;
}

.borda_produtos{
	border: 1px dashed #7a89b3;
}


.empresa_desc_home p{
	overflow: hidden;
	max-height: 197px;
}

.empresa_desc_home img{
	border-radius: 5px;
}


.titulo_geral h1{
	font-size: 35px;
	color: #fff;
	margin-top: 200px;
}

.titulo_contatos h1{
	font-size: 35px;
	color: #fff;
	margin-top: 150px;
}

.servicos_dentro h1{
	font-family: 'yanone_kaffeesatzbold', sans-serif;
	    font-size: 25px;
	    color: #0074be;
	    line-height: 32px;
	    font-weight: normal;
}

.btn_comprar {
	font-size: 15px;
    background: #0074be;
    padding: 10px;
    color: #fff;
		border-radius: 0;
}

.parceiros p{
	padding-bottom: 27px;
     margin-bottom: 15px;
		 color: #0074be;
    font-size: 20px;
    line-height: 28px;
    font-family: 'yanone_kaffeesatzbold', sans-serif;
     background: url(../../images/linha_sombra.png) center bottom no-repeat;
}

.parceiros h1{
	padding-bottom: 25px;
	color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-family: 'yanone_kaffeesatzbold', sans-serif;
		background: url(../../images/bg_titulo_lista_disklimpeza.jpg) center top repeat-x;
		text-align: center;
		height: 40px;
    line-height: 40px;
		position: relative;
		z-index: 99;

}


.input-lista-prod-orcamentos {
    width: 32px;
    min-height: 36px !important;
    text-align: center;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0px;
    font-size: 13px;
		border: 1px solid #0074be;
}


.produtos_geral{
	margin-top: 100px;
}
